.product{
    display:flex;
    width: 291px;
    margin: 20px 2.2%;
    flex-direction: column;
}

.product__image{
    height:180px;
    position:relative;
}

.product__tag{
    position:absolute;
    background-color: #FD6600;
    color: white;
    border-radius: 0px 3px 3px 0px;
    font-size: 12px;
    font-family: Avenir-Black;
    text-align: center;
    padding: 5px 10px;
    top:5px;
}

.product__favorite{
    position:absolute;
    width: 20px;
    height: 17px;
    right: 5px;
    top:10px;
    cursor: pointer;
}

.product__brand{
    font-family: Avenir-Black;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 5px;
}

.product__description{
    margin: 0;
    font-family: Avenir-Book;
}

.product__price{
    display: flex;
    align-items: baseline;
    font-family: Avenir-Black;
}

.product__priceNew{
    color: #FD6600;
    font-size: 27px;
    margin:0 10px 0 0;
}

.product__priceOld{
    color: #B5B5B5;
    text-decoration: line-through;
    margin: 0;
}

.product__additionalInfo{
    font-family: Avenir-Black;
    color: #FD6600;
    margin: 0;
}

.product__ratingRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product__confronta > span{
    font-family: Avenir-Black;
    color: #0000004D;
    letter-spacing: 0.6px;
    font-weight: 900;
}

