.product{
    display:flex;
    width: 291px;
    margin: 20px 2.2%;
    flex-direction: column;
}

.product__image{
    height:180px;
    position:relative;
}

.product__tag{
    position:absolute;
    width: 108px;
    background-color: #FD6600;
    color: white;
    border-radius: 0px 3px 3px 0px;
    font-size: 12px;
    font-family: Avenir-Black;
    text-align: center;
    padding: 5px 10px;
}

.product__favorite{
    position:absolute;
    width: 20px;
    height: 17px;
    right: 5px;
}

