@font-face {
    font-family: "Avenir-Black";
    src: local('Avenir-Black'),
         url('./fonts/Avenir-Black.woff') format('woff'),
         url('./fonts/Avenir-Black.woff2') format('woff2');
        }
@font-face {
    font-family: "Avenir-Book";
    src: local('Avenir-Book'),
            url('./fonts/Avenir-Book.woff') format('woff'),
            url('./fonts/Avenir-Book.woff2') format('woff2');
}


.App{
    width: 100vw;
    height: 100vh;
}

.container{
    max-width: 1440px;
    margin:0 auto;
    padding:20px;
    display: flex;
    flex:1;
}



